<div *ngIf="movies.length > 0" class="max-w-[64rem] w-full my-6 mx-auto min-h-screen">
  <div class="w-full min-h-[64rem] h-full grid grid-cols-5 gap-3">
    <div
      *ngFor="
        let movie of movies
          | paginate
            : {
                itemsPerPage: 10,
                currentPage: currentPage,
                totalItems: totalMovies
              }
      "
    >
      <app-movie-card
        imdbId="{{movie.imdbID}}"
        movieTitle="{{movie.Title}}"
        moviePicture="{{movie.Poster}}"
        [tags]="[movie.Type , movie.Year]"
      />
    </div>
  </div>

  <div
    class="flex flex-row justify-center items-center bg-[#18181B] text-black my-2"
  >
    <pagination-controls
      class="mt-3 my-pagination"
      (pageChange)="pageChanged($event)"
      [maxSize]="5"
      [directionLinks]="true"
      [responsive]="true"
    ></pagination-controls>
  </div>
</div>
<div *ngIf="movies.length == 0" class="min-h-[50rem] flex justify-center items-center">
      <div class="text-white">ไม่พบข้อมูลการค้นหา</div>
</div>
